.header-wrapper {
    height: 500px;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-wrapper > .banner-image img {
    height: 400px;
}